---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import CoursePackage from '../components/CoursePackage.astro';
import Benefits from '../components/Benefits.astro';
import Schedule from '../components/Schedule.astro';
import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout title='Cursos de Java - Aprende desde cero'>
  <main class='min-h-screen bg-gradient-to-br from-slate-50 to-blue-50'>
    <Hero />
    <CoursePackage />
    <Benefits />
    <Schedule />
    <ContactForm />
    <Footer />
  </main>
</Layout>
